:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to bottom ,#5F72BE, #9921E8);
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
/* button control */
.player .icon-pause{
    display: none;
}

.player.playing .icon-pause{
    display: inline-block;
}

.player.playing .icon-play{
    display: none;
}

/* DashBoard */

.dashboard {
   background-image: linear-gradient(0 ,#5F72BE, #9921E8);
    padding: 16px 16px 14px;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-radius: 5px;
    border-bottom: 1px solid #333;
}

/* Header */
header{
    text-align: center;
    margin-top: 10px;
}

header h4 {
    font-size: 12px;
    color: #fff;

}

header h2{
    font-size: 20px;
    color: #fff;
}
.cd{
    display: flex;
    width: 200px;
    margin: auto;
}
.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    background-position: center;
    margin: auto;
}

/* Control */
.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0 8px 0;
}
.control .btn {
    color: #fff;
    font-size: 18px;
    padding: 18px;
}
.control .btn.active{
    color: var(--primary-color);
}
.control .btn-toggle-play{
    height: 56px;
    width: 56px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--primary-color);
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.progress{
    width: 100%;
    height: 6px;
    color: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    -webkit-appearance: none;
    transition: opacity 0.2s;
    border: 1px solid #d3d3d3;
    border-radius:2px;
}
/* Progress */
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 8px;
    background-color: #f63c5c;
    cursor: pointer;
  }
/* Play list */
.play-list {
    margin-top: 408px;
    padding: 12px;
}
.song{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.song.active{
    background-color: rgb(0, 0, 0, 0.4);
}
.song:active {
    opacity: 0.8;
}


.song.active .option,
.song.active .author,
.song.active .title{
    color: #fff;
}

.song .thumb{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 8px;
    background-size: cover;
}

.song .body{
    flex: 1;
    padding: 0 16px;
}
.song .tittle{
    font-size: 18px;
    color: var(--text-color);
}

.song .author{
    font-size: 12px;
    color: #999;
}

.song .option{
    font-size: 18px;
    color: #999;
    padding: 16px 8px;
}

